html {
  min-height: 100%;
  background-image: url("/img/plano\ de\ fundo.png");
  background-size: cover;
}
.logo-gif {
  width: 200px; 
  height: auto;
}

BODY {
  margin: 0 auto
}
a {
  text-decoration: none; /* remove o sublinhado dos links */

}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(211, 211, 211, 0.2);
  height:auto;
}
header img {
  height: 170px;
  width: 170px;
}

/* Define o estilo dos botões */
header button {
  width: 100px; /* ajuste esse valor conforme sua preferência */
  height: 25px; /* ajuste esse valor conforme sua preferência */
  font-size: 15px; /* ajuste esse valor conforme sua preferência */
  font-weight: bold; /* deixa o texto em negrito */
  color: white; /* define a cor do texto como branca */
  border:none; /* remove a borda dos botões */
  border-radius: 10px; /* deixa os botões arredondados */
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4); /* adiciona uma sombra aos botões */
  background: linear-gradient(to right, rgb(40, 128, 128), rgb(0, 174, 255));
  border:outset lightblue;
  border-width: 1.5px;
  margin-left: 50px;
  margin-right: 30px;

}

.container {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

.carousel input {
  position: absolute;
  left: -10000px;
  
}

.carousel {
  width: 30%;
  height: 30%;
  margin-top: 80px;
}

.carousel__stage {
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  transition: text-indent 500ms;
  position: relative;
}

.carousel__item {
  display: inline-flex;
  text-indent: 0;
  width: 100%;
  height: 100%;
  
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.carousel__control {
  display: none;
  position: absolute;
  top: 50%;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
  font-size: 1rem;
  padding: 20px;
  cursor: pointer;
}

.carousel__prev {
  left: 0;
}

.carousel__prev::after {
  content: '❮';
  display: inline-block;
}

.carousel__next {
  right: 0;
}

.carousel__next::after {
  content: '❯';
  display: inline-block;
}

#carousel1:checked ~ .carousel__stage {
  text-indent: 0;
}

#carousel2:checked ~ .carousel__stage {
  text-indent: -100%;
}

#carousel3:checked ~ .carousel__stage {
  text-indent: -200%;
}

#carousel4:checked ~ .carousel__stage {
  text-indent: -300%;
}

#carousel1:checked ~ .carousel__stage .carousel__item:nth-child(1) .carousel__control,
#carousel2:checked ~ .carousel__stage .carousel__item:nth-child(2) .carousel__control,
#carousel3:checked ~ .carousel__stage .carousel__item:nth-child(3) .carousel__control,
#carousel4:checked ~ .carousel__stage .carousel__item:nth-child(4) .carousel__control {
  display: block;
}

/* Define o estilo dos botões quando o mouse passa sobre eles */
button:hover {
  transform: scale(1.5); /* aumenta um pouco o tamanho dos botões */
  transition: 0.5s;
  cursor: pointer;
  
}
footer {
  /* Define a altura do footer como 100px */
  height: 100px;
  /* Define a cor de fundo do footer como cinza claro */
  background-color: rgba(211, 211, 211, 0.2);
  /* Define a posição do footer como relativa ao elemento pai */
  position: relative;
  position: fixed; /* Isso faz com que o footer fique fixo na posição especificada */
  bottom: 0; /* Isso especifica que o footer deve ficar na parte de baixo do viewport */
  width: 100%; /* Isso faz com que o footer ocupe toda a largura do viewport */
}
footer nav {
  /* Define a posição da navegação como absoluta em relação ao footer */
  position: absolute;
  /* Define o alinhamento da navegação ao centro do footer */
  left: 50%;
  /* Define o deslocamento da navegação em relação ao centro do footer como metade da sua largura */
  transform: translateX(-50%);
  /* Define o espaçamento da navegação em relação à borda superior do footer como 10px */
  margin-top: 35px;;

 }
footer nav button {
  width: 150px; /* ajuste esse valor conforme sua preferência */
  height: 25px; /* ajuste esse valor conforme sua preferência */
  font-size: 15px; /* ajuste esse valor conforme sua preferência */
  font-weight: bold; /* deixa o texto em negrito */
  border:outset lightblue;
  color: white;
  border-radius:10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  justify-content: space-between;
  margin: 0px 30px 0px 30px;
  border-width:1.5px;
  background: linear-gradient(to right, rgb(40, 128, 128), rgb(13, 144, 204));
}
#icones-redes-sociais {
  /* Define a posição dos ícones como absoluta em relação ao footer */
  position: absolute;
  /* Define o alinhamento dos ícones à direita do footer */
  right: 0;
  /* Define o espaçamento dos ícones em relação à borda direita do footer como 10px */
  margin-right: 20px;
  /* Define o espaçamento dos ícones em relação à borda inferior do footer como 10px */
  margin-top: 30px;

}

#icones-redes-sociais button {
  /* Remove a borda dos botões dos ícones */
  border: none;
  /* Remove o fundo dos botões dos ícones */
  background: none;
}

#icones-redes-sociais img {
  /* Define a largura das imagens dos ícones como 30px */
  width: 30px;
}
