MAIN {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 150px auto;
}
MAIN img {
  max-width: 20%;
}
.main-content {
  display: flex;
  justify-content: space-around;
}
.main-content:hover .foco:not(:hover) {
  opacity: 0.5; /* As divs que não estão com o mouse em cima ficam semi-transparentes */
}
.foco button {
  width: 150px; /* ajuste esse valor conforme sua preferência */
  height: 25px; /* ajuste esse valor conforme sua preferência */
  font-size: 15px; /* ajuste esse valor conforme sua preferência */
  font-weight: bold; /* deixa o texto em negrito */
  border: outset lightblue;
  color: white;
  border-width: 1.5px;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(40, 128, 128), rgb(13, 144, 204));
  margin-top: 30px;
  margin-bottom: 30px;
}
.foco {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 0px 40px 40px;
  flex-direction: column;
  text-align: center;
  margin: 0 160px; /* Ajuste o valor de acordo com o espaço desejado */
  transition: all 0.8s ease; /* Adiciona uma transição suave a todas as propriedades */
}
.foco:hover {
  opacity: 1; /* A div em foco fica totalmente opaca */
  transform: scale(
    1.3
  ); /* Aumenta a div e todo o seu conteúdo em 10% quando o mouse passa sobre ela */
}

button:hover {
  transform: scale(1.5); /* aumenta um pouco o tamanho dos botões */
  transition: 0.5s;
  cursor: pointer;
}
h3 {
  color: white;
}
.descricao {
  margin: 10px 0; /* Ajuste o valor de acordo com o espaço desejado */
  text-align: justify; /* Alinha o texto à esquerda e à direita */
  transition: all 0.8s ease; /* Adiciona uma transição suave a todas as propriedades */
}
.descricao:hover {
  background: linear-gradient(to right, rgb(252, 253, 253), rgb(78, 193, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
}

