html {
  min-height: 100%;
  background-size: cover;
}
MAIN {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 150px auto;
}
a {
  text-decoration: none; /* remove o sublinhado dos links */
  color: white;
}
.container {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
button:hover {
  transform: scale(1.5); /* aumenta um pouco o tamanho dos botões */
  transition: 0.5s;
  cursor: pointer;
}
h1 {
  color: white;
  font-weight: bold; /* deixa o texto em negrito */
}
input {
  width: 300px; /* Define a largura dos campos de entrada como 300px */
  height: 25px;
  text-align: center;
  color: white;
  /* Define a cor de fundo dos campos de entrada como branca */
  background: linear-gradient(to right, rgb(40, 128, 128), rgb(13, 144, 204));
  /* Define a cor do texto dos campos de entrada como preta */
  /*color: black;/* Define a borda dos campos de entrada como cinza claro */
  border: px solid #fffefe;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
::placeholder {
  color: white;
}
.center  {
  width: 150px; /* ajuste esse valor conforme sua preferência */
  height: 25px; /* ajuste esse valor conforme sua preferência */
  font-size: 15px; /* ajuste esse valor conforme sua preferência */
  font-weight: bold; /* deixa o texto em negrito */
  border:outset lightblue;
  color: white;
  border-width:1.5px;
  border-radius:10px;
  background: linear-gradient(to right, rgb(40, 128, 128), rgb(13, 144, 204));
  margin-bottom: 20px;
}
 /* Define o estilo dos botões quando o mouse passa sobre eles */
button:hover {
  transform: scale(1.5); /* aumenta um pouco o tamanho dos botões */
  transition: 0.5s;
  cursor: pointer;
}
.link button {
  width: 150px; /* ajuste esse valor conforme sua preferência */
  height: 25px; /* ajuste esse valor conforme sua preferência */
  font-size: 15px; /* ajuste esse valor conforme sua preferência */
  font-weight: bold; /* deixa o texto em negrito */
  align-items: center;
  flex-direction: column;
}
.id {
  color: white;
}
