html {
  min-height: 100%;
  background-size: cover;
}
MAIN {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 150px auto;
}
a {
  text-decoration: none; /* remove o sublinhado dos links */
  color: white;
}
.container {
  background-color: #544c4c;
  border-radius: 20px;
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.center button{
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #dcd4c4;
}
::placeholder {
  color: white;
}
.center button {
  width: 150px; /* ajuste esse valor conforme sua preferência */
  height: 25px; /* ajuste esse valor conforme sua preferência */
  font-size: 15px; /* ajuste esse valor conforme sua preferência */
  font-weight: bold; /* deixa o texto em negrito */
  border:outset rgb(10, 10, 10);
  border-width:1.5px;
  border-radius:10px;
  background: #dcd4c4;
  margin-bottom: 25px;
  
}

button:hover {
  transform: scale(1.5); /* aumenta um pouco o tamanho dos botões */
  transition: 0.5s;
  cursor: pointer;
}
h1 {
  color: white;
  font-weight: bold; /* deixa o texto em negrito */
}
input {
  width: 300px; /* Define a largura dos campos de entrada como 300px */
  height: 25px;
  text-align: center;
  color: black;/* Define a cor do texto dos campos de entrada */ 
  background: #dcccb4; /* Define a cor de fundo dos campos de entrada */
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.center  {
  width: 150px; /* ajuste esse valor conforme sua preferência */
  height: 25px; /* ajuste esse valor conforme sua preferência */
  font-size: 15px; /* ajuste esse valor conforme sua preferência */
  font-weight: bold; /* deixa o texto em negrito */
  border:outset lightblue;
  color: white;
  border-width:1.5px;
  border-radius:10px;
  background:#dcccb4;
  margin-bottom: 20px;
}
 /* Define o estilo dos botões quando o mouse passa sobre eles */
button:hover {
  transform: scale(1.5); /* aumenta um pouco o tamanho dos botões */
  transition: 0.5s;
  cursor: pointer;
}
.link button {
  width: 150px; /* ajuste esse valor conforme sua preferência */
  height: 25px; /* ajuste esse valor conforme sua preferência */
  font-size: 15px; /* ajuste esse valor conforme sua preferência */
  font-weight: bold; /* deixa o texto em negrito */
  align-items: center;
  flex-direction: column;
}
.id {
  color: white;
}
