html {
    min-height: 100%;
    background-image: url("/html/img/plano\ de\ fundo.png");
    background-size: cover;
  }
  
  a {
    text-decoration: none; /* remove o sublinhado dos links */
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.2);
    height:auto;
  }
  header img {
    height: 170px;
    width: 170px;
  }
  /* Define o estilo dos botões */
  header button {
    width: 100px; /* ajuste esse valor conforme sua preferência */
    height: 25px; /* ajuste esse valor conforme sua preferência */
    font-size: 15px; /* ajuste esse valor conforme sua preferência */
    font-weight: bold; /* deixa o texto em negrito */
    color: white; /* define a cor do texto como branca */
    border:none; /* remove a borda dos botões */
    border-radius: 10px; /* deixa os botões arredondados */
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4); /* adiciona uma sombra aos botões */
    background: linear-gradient(to right, rgb(40, 128, 128), rgb(0, 174, 255));
    border:outset lightblue;
    border-width: 1.5px;
    margin-left: 50px;
    margin-right: 30px;
  }
  MAIN {
    display: flex;
    align-items:first baseline;
    justify-content: space-around;
    margin-top: 100px;
    
  }
  
  MAIN DIV button {
   background: none;
   border: none;
   padding: auto;
   margin-left: -15px;
   margin-right: -10px;
   margin-bottom: 20px;
  }
  
  MAIN img {
    max-width: 20%;
  }
  
  /* Define o estilo dos botões quando o mouse passa sobre eles */
  button:hover {
    transform: scale(1.5); /* aumenta um pouco o tamanho dos botões */
    transition: 0.5s;
    cursor: pointer;
    
  }
  main button {
    width: 150px; /* ajuste esse valor conforme sua preferência */
    height: 25px; /* ajuste esse valor conforme sua preferência */
    font-size: 15px; /* ajuste esse valor conforme sua preferência */
    font-weight: bold; /* deixa o texto em negrito */
    border:outset lightblue;
    color: white;
    border-radius:10px;
    justify-content: space-between;
    margin: 0px 40px 0px 40px;
    border-width:1.5px;
    background: linear-gradient(to right, rgb(40, 128, 128), rgb(13, 144, 204));
  }
  .criar-conta {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
  }
  h1 {
    color: white;
    font-size: 35px; /* ajuste esse valor conforme sua preferência */
    font-weight: bold; /* deixa o texto em negrito */
    margin-left: 40px;
  }
  h2 {
    color: white;
    font-size: 25px; /* ajuste esse valor conforme sua preferência */
    font-weight: bold; /* deixa o texto em negrito */
    margin-left: 40px;
  }
  h3 {
    color: white;
    font-size: 20px; /* ajuste esse valor conforme sua preferência */
    font-weight: bold; /* deixa o texto em negrito */
    margin-left: 40px;
  }
 
  .input-form {
    /* Define a largura dos campos de entrada como 300px */
    width: 300px;
    /* Define a altura dos campos de entrada como 25px */
    height: 25px;
    /* Define a cor de fundo dos campos de entrada como branca */
    background: linear-gradient(to right, rgb(40, 128, 128), rgb(13, 144, 204));
    /* Define a cor do texto dos campos de entrada como preta */
    color: black;
    /* Define a borda dos campos de entrada como cinza claro */
    border: px solid #fffefe;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  ::placeholder {
    color: white;
  }

/****************FOOTER*****************/

  footer {
    /* Define a altura do footer como 100px */
    height: 100px;
    /* Define a cor de fundo do footer como cinza claro */
    background-color: rgba(211, 211, 211, 0.2);
    /* Define a posição do footer como relativa ao elemento pai */
    position: relative;
    position: fixed; /* Isso faz com que o footer fique fixo na posição especificada */
    bottom: 0; /* Isso especifica que o footer deve ficar na parte de baixo do viewport */
    width: 100%; /* Isso faz com que o footer ocupe toda a largura do viewport */
  }
  footer nav {
    /* Define a posição da navegação como absoluta em relação ao footer */
    position: absolute;
    /* Define o alinhamento da navegação ao centro do footer */
    left: 50%;
    /* Define o deslocamento da navegação em relação ao centro do footer como metade da sua largura */
    transform: translateX(-50%);
    /* Define o espaçamento da navegação em relação à borda superior do footer como 10px */
    margin-top: 35px;;
  
   }
  footer nav button {
    width: 150px; /* ajuste esse valor conforme sua preferência */
    height: 25px; /* ajuste esse valor conforme sua preferência */
    font-size: 15px; /* ajuste esse valor conforme sua preferência */
    font-weight: bold; /* deixa o texto em negrito */
    border:outset lightblue;
    color: white;
    border-radius:10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
    border-width:1.5px;
    background: linear-gradient(to right, rgb(40, 128, 128), rgb(13, 144, 204));
  }
  #icones-redes-sociais {
    /* Define a posição dos ícones como absoluta em relação ao footer */
    position: absolute;
    /* Define o alinhamento dos ícones à direita do footer */
    right: 0;
    /* Define o espaçamento dos ícones em relação à borda direita do footer como 10px */
    margin-right: 20px;
    /* Define o espaçamento dos ícones em relação à borda inferior do footer como 10px */
    margin-top: 30px;
  
  }
  
  #icones-redes-sociais button {
    /* Remove a borda dos botões dos ícones */
    border: none;
    /* Remove o fundo dos botões dos ícones */
    background: none;
  }
  
  #icones-redes-sociais img {
    /* Define a largura das imagens dos ícones como 30px */
    width: 30px;
  }
  a {
    text-decoration: none; /* remove o sublinhado dos links */
  }
  h1 {
    color: white;
    font-size: 35px; /* ajuste esse valor conforme sua preferência */
    font-weight: bold; /* deixa o texto em negrito */
    margin-left: 40px;
  }
  h2 {
    color: white;
    font-size: 25px; /* ajuste esse valor conforme sua preferência */
    font-weight: bold; /* deixa o texto em negrito */
    margin-left: 40px;
  }
  h4 {
    color: white;
    font-size: 20px; /* ajuste esse valor conforme sua preferência */
    font-weight: bold; /* deixa o texto em negrito */
    margin-left: 40px;
  }
  main button {
    width: 150px; /* ajuste esse valor conforme sua preferência */
    height: 25px; /* ajuste esse valor conforme sua preferência */
    font-size: 15px; /* ajuste esse valor conforme sua preferência */
    font-weight: bold; /* deixa o texto em negrito */
    border:outset lightblue;
    color: white;
    border-radius:10px;
    justify-content: space-between;
    margin: 0px 40px 0px 40px;
    border-width:1.5px;
    background: linear-gradient(to right, rgb(40, 128, 128), rgb(13, 144, 204));
  }
  .input-form {
    /* Define a largura dos campos de entrada como 300px */
    width: 300px;
    /* Define a altura dos campos de entrada como 25px */
    height: 25px;
    /* Define a cor de fundo dos campos de entrada como branca */
    background: linear-gradient(to right, rgb(40, 128, 128), rgb(13, 144, 204));
    /* Define a cor do texto dos campos de entrada como preta */
    color: black;
    /* Define a borda dos campos de entrada como cinza claro */
    border: px solid #fffefe;
    margin-left: 40px;
  }
  ::placeholder {
    color: white;
  }