
MAIN {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 150px auto;
}
.recuperar {
  background-color: #544c4c;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
button:hover {
  transform: scale(1.5); /* aumenta um pouco o tamanho dos botões */
  transition: 0.5s;
  cursor: pointer;
}
input {
  width: 300px; /* Define a largura dos campos de entrada como 300px */
  height: 25px;
  text-align: center;
  background: #dcd4c4;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
::placeholder {
  color: black;
}
.recuperar button {
  width: 170px; /* ajuste esse valor conforme sua preferência */
  height: 40px; /* ajuste esse valor conforme sua preferência */
  font-size: 15px; /* ajuste esse valor conforme sua preferência */
  font-weight: bold; /* deixa o texto em negrito */
  border:outset rgb(10, 10, 10);
  border-width:1.5px;
  border-radius:10px;
  background: #dcd4c4;
  margin-bottom: 25px;
}
